@charset "UTF-8";

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img.profile {
  width: 15rem;
  height: 15rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.fa-twitter-square {
  color: #1DA1F2;
}

.fa-github-square {
  color: #211F1F;
}

.fa-infinity {
  color: #161616;
}

.fa-twitch {
  color: #8552F6;
}

@media only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3) {

  .icon-responsive {
    font-size: 16vw;
  }

}

@media only screen and (max-width: 768px) {

.icon-responsive {
  font-size: 15vw;
}

}

@media only screen and (max-width: 568px) {

.icon-responsive {
  font-size: 11vw;
}

}
